node_modules/
dist/
lib/
.astro/
.env
.env.local
.env.*.local
!.env.example
!.env.development
!.env.demo-unschool
!.env.production
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
database-debug.log
pubsub-debug.log
storage-debug.log
emulator-data/
.DS_Store
*.local
